--extra-index-url https://pypi.mirrors.ustc.edu.cn/simple
--trusted-host pypi.mirrors.ustc.edu.cn

torch
importlib_metadata
huggingface_hub
scipy
opencv-python>=4.7.0.72
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh[easy]
segment_anything
timm
#addict
#yapf

#ComfyUI-Impact-Pack
segment-anything
#scikit-image
piexif
transformers
opencv-python-headless
GitPython
#scipy>=1.11.4

#ComfyUI-YoloWorld-EfficientSAM
inference-gpu[yolo-world]==0.9.13
supervision

#ComfyUI_InstantID
insightface
onnxruntime
onnxruntime-gpu

#comfyui-reactor-node
insightface==0.7.3
onnx>=1.14.0
opencv-python>=4.7.0.72
numpy

numexpr

clip-interrogator
simpleeval

torchaudio
torchsde
safetensors>=0.3.0
aiohttp
accelerate
tqdm
psutil
websocket-client==1.6.3
cmake
imageio
joblib
matplotlib
pilgram
scikit-learn
numba
pandas
ultralytics!=8.0.177
rembg